<!-- ======= About Section ======= -->
<section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("media/{{ about.photo }}");'>
            <a href="{{ about.url_video }}" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3><strong>{{ about.h_1 }}</strong></h3>
              <p class="fst-italic">{{ about.desc }}</p>
            </div>

          </div>

        </div>

      </div>
    </section>
<!-- End About Section -->