<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
      <div class="container">

        <div class="section-title">
          <h2>Our Proffesional <span>Chefs</span></h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">
            {% for item in chefs %}
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src={{ item.staff_photo.url }} class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>{{ item.name_staff }}</h4>
                            <span>{{ item.profession }}</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}



        </div>

      </div>
    </section>
<!-- End Chefs Section -->